<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Obesity | About Us</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
	<script src="https://use.fontawesome.com/releases/v5.0.8/js/all.js"></script>
	<link rel="stylesheet" type="text/css" href="static/css/aboutus.css">
    <link rel="canonical" href="https://getbootstrap.com/docs/4.5/examples/carousel/">

    <style>
        body {
    padding-top: 3.5rem;
}

nav {
    font-family: sans-serif;
}

.navbar-brand {
    font-size: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
        .jumbotron{
        background-image:url('https://wallpapers.com/images/hd/fitness-message-on-obesity-h0i56pbamau6uwrf.webp');
        background-attachment:fixed;
        background-size:contain;
        }
    </style>

</head>
<body>
    <form id="form1">
        <header>
            <!--Navigation Bar-->
			<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
                <a class="navbar-brand" href="#"><b>Obesity</b></a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarCollapse">
                    <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="/">Home</a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="/about">About Us</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/help">Help</a>
                    </li>
                    <li class="nav-item">
		                <a class="nav-link" href="/login">Login</a>
		            </li>
                    <li class="nav-item">
		                <a class="nav-link" href="/signup">Sign Up</a>
		            </li>
                    </ul>
                </div>
            </nav>
        </header>

         <main role="main">

  <div class="jumbotron">
    <div class="container">
      <h1 class="display-8" style="color:white">About Obesity</h1>
      <p style="color:white">Welcome to Obesity Epedemic & Solution!,Obesity is a complex disease involving having too much body fat. <br>Obesity isn't just a cosmetic concern.It's a medical problem that increases the risk of many other diseases <br>and health problems. Click below for Help.
      </p>
      <p><a class="btn btn-primary btn-lg" href="/help" role="button">Help &raquo;</a></p>
    </div>
  </div>

  <div class="container">

    <div class="row">
      <div class="col-md-5 ml-5 mr-1">
        <h2>How does it Work?</h2>
        <p>Obesity makes use of machine learning models that helps generate accurate Obesity diseases assessments. Obesity employs advanced machine learning techniques to provide precise evaluations of obesity-related health conditions. It analyzes various factors like weight, height, diet, and exercise habits to estimate the risk of obesity-related diseases. By processing this data, it generates accurate assessments to help individuals manage their health effectively.</p>
        <p><a class="btn btn-secondary" href="/login" role="button">Generate Obesity diseases Assessment &raquo;</a></p>
      </div>
      <div class="col-md-5 ml-5">
        <h2>Terms & Conditions</h2>
        <p>If your organization has any concerns regarding the system please click below to read our Terms and Conditions.
        To understand the rules and expectations when using our system, please click the link below to review our Terms and Conditions. These documents outline important guidelines, responsibilities, and policies, ensuring transparency and proper usage of our services. Your organization's concerns can also be addressed by referring to these terms.</p>
        <p><a class="btn btn-secondary" href="/terms" role="button">Terms & Conditions &raquo;</a></p>
      </div>
    </div>

    <hr>

  </div>

</main>


<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
      <script>window.jQuery || document.write('<script src="../assets/js/vendor/jquery.slim.min.js"><\/script>')</script><script src="../assets/dist/js/bootstrap.bundle.js"></script>

    </form>
</body>
</html>