<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Get Started</title>
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='index.css') }}">
     <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css'>
    <style>

    </style>

</head>
<body>
        <header>
            <!--Navigation Bar-->

    </header>
<div class="area"><nav class="main-menu">
            <ul>
                <li>
                    <a href="/dashboard">
                        <i class="fa fa-stethoscope fa-2x"></i>
                        <span class="nav-text">
                           Dashboard
                        </span>
                    </a>

                </li>
                <li class="has-subnav">
                    <a href="/disindex">
                        <i class="fa fa-notes-medical fa-2x"></i>
                        <span class="nav-text">
                            Disease Index
                        </span>
                    </a>

                </li>
                <li class="has-subnav">
                    <a href="/cancer">
                       <i class="fa fa-lungs fa-2x"></i>
                        <span class="nav-text">
                            Cancer
                        </span>
                    </a>

                </li>
                <li class="has-subnav">
                    <a href="/diabetes">
                       <i class="fa fa-syringe fa-2x"></i>
                        <span class="nav-text">
                            Diabetes
                        </span>
                    </a>

                </li>
                <li>
                    <a href="/heart">
                        <i class="fa fa-heartbeat fa-2x"></i>
                        <span class="nav-text">
                            Heart Disease
                        </span>
                    </a>
                </li>
                <li>
                    <a href="/kidney">
                        <i class="fa fa-glass-whiskey fa-2x"></i>
                        <span class="nav-text">
                           Kidney Disease
                        </span>
                    </a>
                </li>
                <li>
                   <a href="/liver">
                       <i class="fa fa-wine-bottle fa-2x"></i>
                        <span class="nav-text">
                            Liver Disease
                        </span>
                    </a>
                </li>
            </ul>

            <ul class="logout">
                <li>
                   <a href="/logout">
                         <i class="fa fa-power-off fa-2x"></i>
                        <span class="nav-text">
                            Logout
                        </span>
                    </a>
                </li>
            </ul>
        </nav>
    </div>
</body>
</html>


